*-init.clj
*.class
*.db
*.idea
*.iml
*.jar
*.out
*.pyc
*.swp
*jar
.*.swo
.*.swp
.hg/
.hgignore
.lein-*
.nrepl-port
.repl
/.lein-*
/.nrepl-port
/checkouts
/classes
/lib/
/out/
/resources/public/js/compiled/**
/target
figwheel_server.log
node_modules
out*.txt
out/
pom.xml
pom.xml.asc
tags
target
package-lock.json
